:root {
  --bright-blue: #0095FF;
  --icon-size: 3em;
  --light-gray: #E2DFDF;
  --right-margin: 0.35em;
  --white: #fff;
}

* {
  box-sizing: border-box;
  font-family: "proxima-nova", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  word-break: break-word;
}
button {
  border: none;

  /* make default button background transparent instead of white */
  background: rgba(0, 0, 0, 0);
}
button:focus {
  outline: none;
}
h1 {
  font-size: 2em;
}

.card {
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.card:first-child {
  /* move first card down so text looks centered under header shadow */
  margin-top: 3px;
}

.header {
  background-color: var(--bright-blue);
  box-shadow: 0 1px 10px black;
  display: flex;
  justify-content: space-between;
}
.header__add {
  background-color: var(--bright-blue);
  color: var(--white);
  margin-right: var(--right-margin);
}
.header__back {
  background-color: var(--bright-blue);
  color: var(--white);
  margin: -0.2em -0.3em 0 0.3em;
}
.header__title {
  color: var(--white);
  margin: 0.6em;
  text-align: center;
}

.icon {
  cursor: pointer;
  font-size: var(--icon-size);
}

.item__remove {
  color: #E2DFDF;
  margin-right: var(--right-margin);
}
.item__text {
  margin: 1.2em;
}
