:root {
  --bright-blue: #0095FF;
  --header-icon-size: 3em;
  --light-gray: #E2DFDF;
  --standard-margin: 0.6em;
  --standard-right-margin: 0.35em;
  --white: #fff;
}

* {
  box-sizing: border-box;
  font-family: "proxima-nova", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  word-break: break-word;
}
button {
  border: none;

  /* make default button background transparent instead of white */
  background: rgba(0, 0, 0, 0);
}
button:focus {
  outline: none;
}
h1 {
  font-size: 2em;
}

.card {
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.card:first-child {
  /* move first card down so text looks centered under header shadow */
  margin-top: 3px;
}

.header {
  background-color: var(--bright-blue);
  box-shadow: 0 1px 10px black;
  display: flex;
  justify-content: space-between;
}
.header__add {
  background-color: var(--bright-blue);
  color: var(--white);
  font-size: var(--header-icon-size);
  margin-right: var(--standard-right-margin);
}
.header__back {
  background-color: var(--bright-blue);
  color: var(--white);
  font-size: var(--header-icon-size);
  margin-left: 0.3em;
  margin-top: -0.2em;
}
.header__title {
  color: var(--white);
  margin: var(--standard-margin);
  text-align: center;
}

.item__remove {
  color: #E2DFDF;
  font-size: var(--header-icon-size);
  margin-right: var(--standard-right-margin);
}
.item__text {
  margin: 1.2em;
}
