/* <header class="header">
<!-- h1 is populated dynamically from app.js based on current page -->
<h1 class="header__title"></h1>
<button class="header__add" aria-label="Add Button">Add</button>
<button class="header__back" aria-label="Back Button" hidden>Back</button>
</header> */
html {
  box-sizing: border-box;
  font-size: 16;
  margin: 0;
  padding: 0;
}

.header {
  background-color: blue;
  display: flex;
}

.header__add {
  flex: 1;
}

.header__back {
  flex: 1;
}

.header__title {
  color: white;
  flex: 1;
}