html {
  box-sizing: border-box;
  font-size: 16;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #0095FF;
  display: flex;
}

.header__add {
  flex: 1;
}

.header__back {
  flex: 1;
}

.header__title {
  color: white;
  flex: 1;
}

/* color of lines separating items: E2DFDF */